<body>
  <div id="fgcu_logo_container">
    <div class="img_holder"><img src="assets/fgcu_logo.png" alt="fgcu_logo" width="205" height="70"></div>
  </div>
  <div id="chart-container"></div>
  <div id="date-picker">
    <form >
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" ngControl="Choose a date"
             [formControl]="date"(dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="onClickMe()">Submit</button>
  </div>
</body>
